/* Your CSS goes here! */
body{
    background-color: beige;
}

.title{
    text-align: center;
    color: darkblue;
    font-size: 3em;
}

.texts {
    font-family: "Times New Roman", Times, serif;
    text-align: justify;
    text-indent: 10%;
    font-size: 1.2em;;
}

#Hi{
    text-size-adjust: 20px;
    text-align: center;
    font-size: 1.5em;
}

img{
    width: 50%;
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.links_table{
    font-size: 1.2em;
    margin: 2em;
    border: 1px solid black;
}
